.LoginContainer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #9a9c9c;
  width: 100%;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.LoginFormWrapper {
  width: 465px;
  text-align: center;
  border: 2px solid #ebebeb;
  box-sizing: border-box;
  box-shadow: 2px 8px 15px rgb(201 201 201 10%);
  border-radius: 10px;
  position: relative;
}

.LoginFormTitle {
  font-family: "Montserrat";
  padding-top: 50px;
  font-weight: 500;
  font-size: 23px;
  line-height: 120%;
  color: #434c63;
}

.LoginForm {
  text-align: left;
  padding: 35px 50px;
}

.ErrorWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  opacity: 0;
  transition: 0.2s all linear;
}

.errorInput {
  background: #ffffff;
  border: 2px solid #ffb0a5;
  color: #ffb0a5;
}

.LoginFormError {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ff8484;
  padding-left: 10px;
}

.LoginFormInput {
  width: 100%;
  height: 55px;
  margin-bottom: 5px;
  padding-left: 20px;
  box-sizing: border-box;
  box-shadow: 2px 8px 15px rgb(201 201 201 10%);
}

.LoginFormSubmit {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: #434c63;
  box-shadow: 2px 8px 15px rgb(201 201 201 10%);
  border: transparent;
  border-radius: 7px;
  width: 100%;
  height: 52px;
  color: #ffffff;
  margin-top: 10px;
  transition: 0.2s all linear;
}

.LoginFormSubmit:disabled {
  color: #808080;
  background: #ededed;
}

.LoginFormSubmit:hover:enabled {
  box-shadow: 0px 17px 15px -11px rgba(67, 76, 99, 0.2);
  cursor: pointer;
  font-weight: 500;
  background: #373e51;
}

.LoginFooterForm {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 40px;
}

.LoginFooterFormLink {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #434c63;
}

.underline {
  text-decoration: underline;
}

@media (max-width: 530px) {
  .LoginFormWrapper {
    width: 90%;
  }
  .LoginForm {
    padding: 35px 30px;
  }
  .LoginFormTitle {
    padding-left: 10px;
    padding-right: 10px;
  }
}
