.ProcessingWrapper {
  width: 395px;
  margin-left: 2.25%;
  border: 2px solid #f5f5f5;
  border-radius: 15px;
  max-height: 413px;
  position: fixed;
  right: 110px;
}

.ProcessingInner {
  padding: 30px 30px 35px;
  width: 335px;
}

.ProcessingTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #494a4a;
  margin-bottom: 15px;
}

.ProcessingText {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  margin-bottom: 25px;
}

.ProcessingContent {
  border-top: 2px solid #f5f5f5;
  padding-top: 25px;
}

.ProcessingLabel {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
}

.ButtonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ProcessingSubmit {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: #434c63;
  border-radius: 7px;
  color: #ffffff;
  transition: 0.2s all linear;
}

.ProcessingSubmit:disabled {
  color: #808080;
  background: #ededed;
}

.anotherBtnState {
  width: 199px;
}

.backBtn {
  width: 111px;
  height: 55px;
  border: none;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: #434c63;
  border-radius: 7px;
  color: #ffffff;
  transition: 0.2s all linear;
}

.ProcessingSubmit:hover:enabled,
.backBtn:hover:enabled {
  box-shadow: 0px 17px 15px -11px rgba(67, 76, 99, 0.2);
  cursor: pointer;
  font-weight: 500;
  background: #373e51;
}
