.SpecSubmit {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: #434c63;
  color: #ffffff;
  transition: 0.2s all linear;
  padding: 0 30px;
}

.SpecSubmit:disabled {
  color: #808080;
  background: #ededed;
}

.SpecSubmit:hover:enabled {
  box-shadow: 0px 17px 15px -11px rgba(67, 76, 99, 0.2);
  cursor: pointer;
  font-weight: 500;
  background: #373e51;
}

@media (max-width: 360px) {
  .SpecSubmit {
    height: 65px;
  }
}
