.FooterWrapper {
  background: #fafafa;
  display: flex;
  justify-content: center;
}

.FooterTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9a9a9a;
  margin: 38px 0;
}

.FooterLink {
  text-decoration: none;
  color: #434c63;
}
