.css-1s2u09g-control {
  height: 61px;
}

.css-6j8wv5-Input {
  visibility: collapse !important;
}

.css-1s2u09g-control {
  border-radius: 7px !important;
}

.SelectPlaceholder {
  padding-left: 10px;
}

.SelectContent {
  width: 542px;
  margin-right: 30px;
}
