.mr30 {
  margin-right: 30px;
}

.mr25 {
  margin-right: 25px;
}

.opacity1 {
  opacity: 1;
}

.w172 {
  width: 146px;
}

.w266 {
  width: 240px;
}

.w274 {
  width: 244px;
}

.w468 {
  width: 442px;
}

.w73 {
  width: 47px;
}

.w772 {
  width: 746px;
}

.w91 {
  width: 65px;
}

.w155 {
  width: 129px;
}

.w145 {
  width: 119px;
}

.w546 {
  width: 516px;
}

.w196 {
  width: 170px;
}

.w116 {
  width: 90px;
}
